SPAN.password {
	display: inline-block;
	font-family: var(--font-family-fixed);
	font-weight: 500;
	font-style: normal;
	font-size: 1.5rem;
}

	SPAN.password .small {
		font-family: var(--font-family-fixed);
		font-weight: 400;
		font-style: normal;
		font-size: 1.3rem;
	}