@page "/"

<PageTitle>Home - Password Genie</PageTitle>

<div class="text-center">
  <h1>Password <strong class="title">Genie</strong>rator</h1>
  @* <Image Src="images/cliparts/password-genie-blue_256x.png" Class="rounded" Alt="placeholder" /> *@
  <p>Fictional words based password generator.</p>
  <Icon Name="IconName.Fan" Size="IconSize.x2" Color="IconColor.Primary" />
</div>

