@page "/password/dictionary"
@using PG.Entities.Files
@using PG.Logic.Passwords.Generators
@using PG.Logic.Passwords.Generators.Entities
@inject NavigationManager Navigation
@inject PG.Logic.Passwords.Generators.PasswordGeneratorFactory PasswordFactory

<h2>Dictionary based password generator</h2>

@if (isLoading)
{
	<p>Loading the dictionary, please wait...</p>
}

@if (!string.IsNullOrEmpty(lastPassword))
{
	<p role="status">Password: @lastPassword</p>

	@if (!string.IsNullOrEmpty(lastEntropy))
	{
		<p role="note">Entropy: @lastEntropy</p>
	}
}

<Dropdown Color="DropdownColor.Secondary" Direction="DropdownDirection.Dropend">
	<DropdownToggleButton>Dictionary</DropdownToggleButton>
	<DropdownMenu>
		<DropdownItem Type="DropdownItemType.Button" Active='@(selectedLanguage == "en-US")' @onclick='() => SelectLanguage("en-US")'>English (en-US)</DropdownItem>
		<DropdownItem Type="DropdownItemType.Button" Active='@(selectedLanguage == "es-ES")' @onclick='() => SelectLanguage("es-ES")'>Spanish (es-ES)</DropdownItem>
	</DropdownMenu>
</Dropdown>

<Button Color="ButtonColor.Primary" @onclick="GenerateNewPassword"><Icon Name="IconName.BracesAsterisk" /> Generate new password </Button>

@code {
	private Uri? _baseUri;
	private IPasswordGenerator? _generator = null;

	private bool isLoading = false;
	private string lastPassword = string.Empty;
	private string lastEntropy = string.Empty;
	private string selectedLanguage = "en-US";

	// private Timer? timer;
	// private static readonly TimeSpan PASSWORD_UPDATE_INTERVAL = TimeSpan.FromSeconds(5);

	protected override async void OnInitialized()
	{
		_baseUri = new Uri(Navigation.BaseUri);
		if (PasswordFactory is null)
			throw new InvalidOperationException("Password generator factory is not initialized.");

		await InitializePasswordGenerator();

		// timer = new Timer(GeneratePassword, null, TimeSpan.Zero, PASSWORD_UPDATE_INTERVAL);
	}

	private async Task InitializePasswordGenerator()
	{
		isLoading = true;
		StateHasChanged();

		try
		{
			string wordTreePath = string.Empty;
			Stream file;
			try
			{
				wordTreePath = GetWordTreePath(selectedLanguage);
				file = await LoadFile(wordTreePath);
			}
			catch (Exception ex)
			{
				throw new InvalidOperationException($"Error loading dictionary file: \"{wordTreePath}\"", ex);
			}

			var options = new DictionaryPasswordGeneratorOptions()
				{
					Type = DictionaryType.WordTree,
					File = file,
					NumberOfPasswords = 1,
					NumberOfWords = 2,
					AverageWordLength = 7,
					DepthLevel = 4,
					KeystrokeOrder = KeystrokeOrder.AlternatingStroke,
					NumberOfNumbers = 1,
					NumberOfSpecialCharacters = 1,
					CustomSpecialCharacters = new char[] { '-', '.', '/' },
				};

			_generator = PasswordFactory.Create(GeneratorType.Dictionary, options);
		}
		finally
		{
			isLoading = false;
			StateHasChanged();
		}
	}

	private string GetWordTreePath(string language)
	{
		if (_baseUri is null)
			throw new InvalidOperationException("Base URI not initialized");

		string relativePath = language switch
		{
			"es-ES" => "data/word_tree_esES.dat.gz",
			_ => "data/word_tree_enUS.dat.gz",
		};

		return new Uri(_baseUri, relativePath).ToString();
	}

	private async Task<Stream> LoadFile(string relativePath)
	{
		if (_baseUri is null)
			throw new InvalidOperationException("Base URI not initialized");

		var httpClient = new HttpClient();
		return await httpClient.GetStreamAsync(new Uri(_baseUri, relativeUri: relativePath));
	}

	private async void SelectLanguage(string language)
	{
		selectedLanguage = language;
		await InitializePasswordGenerator();

		StateHasChanged();
	}

	private void GenerateNewPassword(MouseEventArgs e)
	{
		// timer?.Change(TimeSpan.Zero, PASSWORD_UPDATE_INTERVAL);

		GeneratePassword(null);
	}

	private void GeneratePassword(object? state)
	{
		if (_generator is null)
			throw new InvalidOperationException("Password factory is not initialized.");

		GenerationResult generationResult = _generator.Generate();
		double entropy = generationResult.AverageEntropy;
		string entropyText = entropy switch
		{
			_ when entropy < 1 => "(error)",
			_ when entropy < 28 => "Very weak",
			_ when entropy < 36 => "Weak",
			_ when entropy < 60 => "Reasonable",
			_ when entropy < 128 => "Strong",
			_ => "Very strong",
		};

		lastPassword = generationResult.Passwords[0];
		lastEntropy = $"{entropy:F2} bits ({entropyText})";
		StateHasChanged();
	}
}
