@using PG.Shared.Services
@inherits LayoutComponentBase
@inject ApplicationService ApplicationService

<div class="page">
	<div class="sidebar">
		<NavigationMenu />
	</div>

	<main>
		<div class="top-row px-4">
			<span>@(version)</span>
			<a href="https://github.com/drodriguez-dev/password-genie"><i class="bi bi-github"></i></a>
		</div>

		<article class="content px-4">
			@Body
		</article>
	</main>
</div>

@code {
	private string version { get => $"v{ApplicationService.GetVersion()}"; }
}